<h1><%= @contact.first_name() %> <%= @contact.last_name() %></h1>
<h4><%= @contact.job_title() %>, <i><%= @contact.company() %></i></h4>

<ul>
  <% @tele_numbers.each() do |number| %>
  <li><%= number.type %>: (<%= number.area_code() %>) <%= number.number() %></li>
  <% end %>
</ul>


<ul>
  <% @mailing_addresses.each() do |mail| %>
  <li><u>Mailing Address (<i><%= mail.type() %></i>):</u><br><%= mail.street_number() %> <%= mail.street_name() %><br><%= mail.city %>, <%= mail.state() %> <%= mail.zip() %></li>
  <% end %>
</ul>


<ul>
  <% @emailing_addresses.each() do |email| %>
  <li>Email (<i><%= email.type() %></i>): <u><a href="mailto:<% email.address() %>"><%= email.address() %></a></u></li>
  <% end %>
</ul>


<p><a href="/contact/<%= @contact.id() %>/phones/new">Add a phone number</a></p>
<p><a href="/contact/<%= @contact.id() %>/mail/new">Add a mailing address</a></p>
<p><a href="/contact/<%= @contact.id() %>/emails/new">Add an email address</a></p>
<p><a href="/">Go back home</a></p>
