<h1><%= @contact.first_name() %> <%= @contact.last_name() %></h1>
<h3><%= @contact.job_title() %>, <%= @contact.company() %></h3>

<ul>
  <% @tele_numbers.each() do |number| %>
  <li>Phone Number: (<%= number.area_code() %>) <%= number.number() %> <i>(<%= number.type %>)</i></li>
  <% end %>
</ul>


<ul>
  <% @mailing_addresses.each() do |mail| %>
  <li>Mailing Address: <%= mail.street_number() %> <%= mail.street_name() %>, <%= mail.city %>, <%= mail.state() %>, <%= mail.zip() %> <%= mail.type() %></li>
  <% end %>
</ul>


<ul>
  <% @emailing_addresses.each() do |email| %>
  <li>Email Address: <%= email.address() %> <%= email.type() %></li>
  <% end %>
</ul>


<p><a href="/contact/<%= @contact.id() %>/phones/new">Add a phone number</a></p>
<p><a href="/contact/<%= @contact.id() %>/mail/new">Add a mailing address</a></p>
<p><a href="/contact/<%= @contact.id() %>/emails/new">Add an email address</a></p>
